/* styles/103-filters.css */
.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.locations,
.amenities {
    flex-grow: 1;
    margin-right: 20px;
}

.search-button {
    background-color: #FF5A5F;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .filters {
        flex-direction: column;
    }

    .locations,
    .amenities {
        margin-bottom: 20px;
        margin-right: 0;
    }
}
