/* styles/103-common.css */
body {
    font-family: 'Arial', sans-serif;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    .popover {
        width: 100%;
    }

    .locations h2,
    .amenities h2,
    .reviews h2 {
        font-size: 14px;
    }

    .amenities,
    .reviews {
        margin-top: 20px;
    }
}
